body {
  color: white;
  font-size: 12px;
}
#admin_login span{
  color:red;
  display:none;
}
.border_line{
	border:1px solid red;
}
#admin_login_son{
	width:300px;
}

.first_td{
	width: 54px
}
#code{
	text-align: left;
	padding-left:7px;
}
